In [1]:

import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [10]:
engine = create_engine("sqlite:///db_pokemon.db", echo=False)

In [11]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['stats']

In [12]:
engine.execute('SELECT * FROM stats LIMIT 5').fetchall()

[(1, 'Bulbasaur', 'Grass', 'Poison', 318, 45, 49, 49, 65, 65, 45, 1, 'FALSE', 'Green', 'TRUE', 0.875, 'Monster', 'Grass', 'FALSE', 0.71, 6.9, 45, 'quadruped'),
 (2, 'Ivysaur', 'Grass', 'Poison', 405, 60, 62, 63, 80, 80, 60, 1, 'FALSE', 'Green', 'TRUE', 0.875, 'Monster', 'Grass', 'FALSE', 0.99, 13.0, 45, 'quadruped'),
 (3, 'Venusaur', 'Grass', 'Poison', 525, 80, 82, 83, 100, 100, 80, 1, 'FALSE', 'Green', 'TRUE', 0.875, 'Monster', 'Grass', 'TRUE', 2.01, 100.0, 45, 'quadruped'),
 (4, 'Charmander', 'Fire', '', 309, 39, 52, 43, 60, 50, 65, 1, 'FALSE', 'Red', 'TRUE', 0.875, 'Monster', 'Dragon', 'FALSE', 0.61, 8.5, 45, 'bipedal_tailed'),
 (5, 'Charmeleon', 'Fire', '', 405, 58, 64, 58, 80, 65, 80, 1, 'FALSE', 'Red', 'TRUE', 0.875, 'Monster', 'Dragon', 'FALSE', 1.09, 19.0, 45, 'bipedal_tailed')]